#macro( superfishMenu $treeItem)
  <li>
    #if ($treeItem.entity.localTitle)
    <a href="$treeItem.entity.friendlyURL">$treeItem.entity.localTitle</a>
    #else
    <a href="$treeItem.entity.friendlyURL">$treeItem.entity.title</a>
    #end
  #if ($treeItem.hasChildren)
    <ul>
      #foreach($child in $treeItem.children)
        #superfishMenu($child)
      #end
    </ul> 
  #end
   </li>
#end

<ul class="sf-menu">
    #if($config.showHomepage)
    <li>
      #if($root.entity.localTitle)
      <a href="/">$root.entity.localTitle</a>
      #else
      <a href="/">$root.entity.title</a>
      #end     
    </li>  
    #end
    #foreach($page in $root.children)
        #superfishMenu($page)
    #end
</ul>
