#macro( superfishMenu $treeItem)
  <li>
    <a href="$treeItem.entity.friendlyURL">$treeItem.entity.localTitle</a>
  #if ($treeItem.hasChildren)
    <ul>
      #foreach($child in $treeItem.children)
        #superfishMenu($child)
      #end
    </ul> 
  #end
   </li>
#end

<ul class="sf-menu">
    #if($config.showHomepage)
    <li>
      <a href="/">$root.entity.localTitle</a>
    </li>  
    #end
    #foreach($page in $root.children)
        #superfishMenu($page)
    #end
</ul>
