#*
 Vosao CMS. Simple CMS for Google App Engine.
 
 Copyright (C) 2009-2010 Vosao development team.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

 email: vosao.dev@gmail.com
*#

#set ($title = $messages.get("folder"))

#define ($head1 )
  <script src="/static/js/jquery.form.js" language="javascript"></script>
  <script src="/static/js/cms/folder.js" language="javascript"></script>
#end

<div id="breadcrumbs">
    <span class="button ui-state-default ui-corner-all" style="padding:4px 10px;">
        <a href="/cms/folders.vm">$messages.get("resources"):</a> /
        <span id="crumbs"></span>
    </span>
</div>

<div id="tabs" style="top:14px;">
<ul>
    <li><a href="#tab-1">$messages.get("folder")</a></li>
    <li class="filesTab"><a href="#tab-2">$messages.get("files")</a></li>
    <li class="childrenTab"><a href="#tab-3">$messages.get("subfolders")</a></li>
    <li class="securityTab"><a href="#tab-4">$messages.get("security")</a></li>
</ul>

<div id="tab-1">
<form id="folderForm">
<div class="form-row">
    <label>$messages.get("title")</label>
    <input id="title" type="text" class="form-title" />
</div>
<div class="form-row">
    <label>$messages.get("folder.name_for_url")</label>
    <input id="name" type="text" class="form-url"/>
</div>
<div class="buttons">
    <input id="saveButton" type="submit" value="$messages.get("save")" />
    <input id="cancelButton" type="button" value="$messages.get("cancel")" />
    <input id="exportButton" type="button" value="$messages.get("export")" />
</div>    
</form>
</div>

<div id="tab-2" class="filesTab">
    <div id="filesTable"> </div>
    <div class="buttons">
        <input id="createFileButton" type="button" 
            value="$messages.get("create_file")" />
        <input id="uploadButton" type="button" 
            value="$messages.get("upload_file")" />
        <input id="deleteFilesButton" type="button" 
            value="$messages.get("delete_files")" />
        <input id="fileCancelButton" type="button" 
            value="$messages.get("cancel")" />
    </div>
</div>

<div id="tab-3" class="childrenTab">
    <div id="children"> </div>
    <div class="buttons">
        <input id="addChildButton" type="button" 
            value="$messages.get("folder.add_child_folder")" />
        <input id="deleteFoldersButton" type="button" 
            value="$messages.get("folder.delete_folders")" />
        <input id="folderCancelButton" type="button" 
            value="$messages.get("cancel")" />
    </div>    
</div>

<div id="tab-4" class="securityTab">
    <div id="permissions"> </div>
    <div class="buttons">
        <input id="addPermissionButton" type="button" 
            value="$messages.get("add_permission")" />
        <input id="deletePermissionButton" type="button" 
            value="$messages.get("delete_permission")" />
    </div>    
</div>

</div>

<div id="file-upload" title="$messages.get("folder.upload_file")" style="display:none">
	<form id="upload" action="/cms/upload" method="post" enctype="multipart/form-data">
    	$messages.get("file_upload"):
    	<input type="hidden" name="fileType" value="resource" />
    	<input type="hidden" name="folderId" />
    	<input type="file" name="uploadFile" multiple="true" />
	    <div class="buttons-dlg">
    	    <input type="submit" value="$messages.get("send")" />
        	<input id="fileUploadCancelButton" type="button" 
            	value="$messages.get("cancel")" />
    	</div>
	</form>
</div>

<div id="permission-dialog" style="display:none" title="$messages.get("permission_details")">
<form id="permissionForm">
    <div class="form-row">
        <label>$messages.get("group")</label>
        <select id="groupSelect"></select>
        <span id="groupName"></span>        
    </div>
    <div id="permissionList" class="form-row">
        <fieldset>
            <legend>$messages.get("permission")</legend>
            <input type="radio" name="permission" value="DENIED"/> $messages.get("denied") <br />
            <input type="radio" name="permission" value="READ" /> $messages.get("read") <br />
            <input type="radio" name="permission" value="WRITE" /> $messages.get("read_write") <br />
        </fieldset>        
    </div>
    <div class="buttons-dlg">
        <input id="permissionSaveButton" type="submit" value="$messages.get("save")" />
        <input id="permissionCancelButton" type="button" value="$messages.get("cancel")" />
    </div>
</form>
</div>

<div id="export-dialog" style="display:none" title="$messages.get("folder.export_window")">
  <form id="exportForm">
    <p>$messages.get("folder.export_window_info")</p>
    <div id="exportInfo" class="form-row"></div>    
    <div id="timer" class="form-row"></div>
    <div class="buttons-dlg">
        <input id="exportCancelButton" type="button" value="$messages.get("cancel")" />
    </div>
  </form>
</div>

