#macro( renderSitemap $treeItem )
  <li>$treeItem.entity.title
  #if ($treeItem.hasChildren)
    <ul>
      #foreach($child in $treeItem.children) 
        #renderSitemap($child)
      #end
    </ul> 
  #end
   </li>
#end

<ul id="sitemap">
    #renderSitemap($root)
</ul>

<hr/>
$config.title <br/>
$config.level <br/>
$config.published <br/>
$config.hint <br/>
$config.showHint <br/>
