<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <!--======================== Persistence ================================-->

    <bean id="persistenceManagerFactory"  
        class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">  
        <property name="jdoProperties">
            <props>
                <prop key="javax.jdo.PersistenceManagerFactoryClass">org.datanucleus.store.appengine.jdo.DatastoreJDOPersistenceManagerFactory</prop>
                <prop key="javax.jdo.option.ConnectionURL">appengine</prop>
                <prop key="javax.jdo.option.NontransactionalRead">true</prop>
                <prop key="javax.jdo.option.NontransactionalWrite">true</prop>
                <prop key="javax.jdo.option.RetainValues">true</prop>
                <prop key="datanucleus.appengine.autoCreateDatastoreTxns">true</prop>
            </props>
        </property>
    </bean>  
    
    <!--========================== System service ===========================-->
    
    <bean id="systemService" class="org.vosao.global.impl.SystemServiceImpl"
        init-method="init" />  
    
    <!--============================== DAO ==================================-->
    
    <bean id="abstractDao" abstract="true"
        class="org.vosao.dao.impl.AbstractDaoImpl">
        <property name="persistenceManagerFactory" ref="persistenceManagerFactory"/>  
    </bean>
      
    <bean id="fileDao" class="org.vosao.dao.impl.FileDaoImpl"
        parent="abstractDao" />  
    
    <bean id="folderDao" class="org.vosao.dao.impl.FolderDaoImpl"
        parent="abstractDao" />  

    <bean id="userDao" class="org.vosao.dao.impl.UserDaoImpl"
        parent="abstractDao" />  

    <bean id="templateDao" class="org.vosao.dao.impl.TemplateDaoImpl"
        parent="abstractDao" />  

    <bean id="configDao" class="org.vosao.dao.impl.ConfigDaoImpl"
        parent="abstractDao" />  

    <bean id="formDao" class="org.vosao.dao.impl.FormDaoImpl"
        parent="abstractDao" />  

    <bean id="commentDao" class="org.vosao.dao.impl.CommentDaoImpl"
        parent="abstractDao" />  

    <bean id="fieldDao" class="org.vosao.dao.impl.FieldDaoImpl"
        parent="abstractDao" />  

    <bean id="seoUrlDao" class="org.vosao.dao.impl.SeoUrlDaoImpl"
        parent="abstractDao" />  

    <bean id="languageDao" class="org.vosao.dao.impl.LanguageDaoImpl"
        parent="abstractDao" />  

    <bean id="contentDao" class="org.vosao.dao.impl.ContentDaoImpl"
        parent="abstractDao" />  

    <bean id="messageDao" class="org.vosao.dao.impl.MessageDaoImpl"
        parent="abstractDao" />  
    
    <bean id="groupDao" class="org.vosao.dao.impl.GroupDaoImpl"
        parent="abstractDao" />  

    <bean id="userGroupDao" class="org.vosao.dao.impl.UserGroupDaoImpl"
        parent="abstractDao" />  

    <bean id="contentPermissionDao" class="org.vosao.dao.impl.ContentPermissionDaoImpl"
        parent="abstractDao" />  

    <bean id="pageDao" class="org.vosao.dao.impl.PageDaoImpl"
        parent="abstractDao">
        <property name="contentDao" ref="contentDao"/>  
    </bean>      

    <bean id="dao" class="org.vosao.dao.impl.DaoImpl">  
        <property name="pageDao" ref="pageDao"/>  
        <property name="fileDao" ref="fileDao"/>  
        <property name="folderDao" ref="folderDao"/>  
        <property name="userDao" ref="userDao"/>  
        <property name="templateDao" ref="templateDao"/>  
        <property name="configDao" ref="configDao"/>  
        <property name="formDao" ref="formDao"/>  
        <property name="fieldDao" ref="fieldDao"/>  
        <property name="commentDao" ref="commentDao"/>  
        <property name="seoUrlDao" ref="seoUrlDao"/>  
        <property name="languageDao" ref="languageDao"/>  
        <property name="contentDao" ref="contentDao"/>  
        <property name="messageDao" ref="messageDao"/>  
        <property name="groupDao" ref="groupDao"/>  
        <property name="userGroupDao" ref="userGroupDao"/>  
        <property name="contentPermissionDao" ref="contentPermissionDao"/>  
    </bean>

    <!--=========================== Business ================================-->

    <bean id="abstractBusiness" abstract="true"
        class="org.vosao.business.impl.AbstractBusinessImpl">
        <property name="dao" ref="dao"/>  
        <property name="systemService" ref="systemService"/>  
    </bean>
    
    <bean id="folderBusiness" class="org.vosao.business.impl.FolderBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="templateBusiness" class="org.vosao.business.impl.TemplateBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="configBusiness" class="org.vosao.business.impl.ConfigBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="formBusiness" class="org.vosao.business.impl.FormBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="fileBusiness" class="org.vosao.business.impl.FileBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="commentBusiness" class="org.vosao.business.impl.CommentBusinessImpl"
        parent="abstractBusiness" />  
        
    <bean id="fieldBusiness" class="org.vosao.business.impl.FieldBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="messageBusiness" class="org.vosao.business.impl.MessageBusinessImpl"
        parent="abstractBusiness" />  
    
    <bean id="userBusiness" class="org.vosao.business.impl.UserBusinessImpl"
        parent="abstractBusiness" />  
    
    <bean id="contentPermissionBusiness" class="org.vosao.business.impl.ContentPermissionBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="groupBusiness" class="org.vosao.business.impl.GroupBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="pageBusiness" class="org.vosao.business.impl.PageBusinessImpl"
        init-method="init" parent="abstractBusiness">
        <property name="configBusiness" ref="configBusiness"/>  
        <property name="messageBusiness" ref="messageBusiness"/>  
    </bean>      

    <bean id="business" class="org.vosao.business.impl.BusinessImpl"
        init-method="init">  
        <property name="systemService" ref="systemService"/>  
        <property name="pageBusiness" ref="pageBusiness"/>  
        <property name="folderBusiness" ref="folderBusiness"/>  
        <property name="templateBusiness" ref="templateBusiness"/>  
        <property name="configBusiness" ref="configBusiness"/>  
        <property name="formBusiness" ref="formBusiness"/>  
        <property name="fileBusiness" ref="fileBusiness"/>  
        <property name="commentBusiness" ref="commentBusiness"/>  
        <property name="fieldBusiness" ref="fieldBusiness"/>  
        <property name="messageBusiness" ref="messageBusiness"/>  
        <property name="userBusiness" ref="userBusiness"/>  
        <property name="contentPermissionBusiness" ref="contentPermissionBusiness"/>  
        <property name="groupBusiness" ref="groupBusiness"/>  
    </bean>

    <!--========================== ImportExport =============================-->

    <bean id="importExportBusiness" 
        class="org.vosao.business.impl.ImportExportBusinessImpl">
        <property name="dao" ref="dao"/>  
        <property name="business" ref="business"/>  
    </bean>

    <!--======================= JSON-RPC services ===========================-->

    <bean id="abstractService" abstract="true"
        class="org.vosao.service.impl.AbstractServiceImpl">
        <property name="dao" ref="dao"/>  
        <property name="business" ref="business"/>  
    </bean>

    <!--==================== JSON-RPC back services =========================-->

    <bean id="fileService" class="org.vosao.service.back.impl.FileServiceImpl"
        parent="abstractService" />  

    <bean id="folderService" class="org.vosao.service.back.impl.FolderServiceImpl"
        parent="abstractService" />
          
    <bean id="commentService" class="org.vosao.service.back.impl.CommentServiceImpl"
        parent="abstractService" />

    <bean id="pageService" class="org.vosao.service.back.impl.PageServiceImpl"
        parent="abstractService" />

    <bean id="templateService" class="org.vosao.service.back.impl.TemplateServiceImpl"
        parent="abstractService" />

    <bean id="formService" class="org.vosao.service.back.impl.FormServiceImpl"
        parent="abstractService" />

    <bean id="fieldService" class="org.vosao.service.back.impl.FieldServiceImpl"
        parent="abstractService" />

    <bean id="configService" class="org.vosao.service.back.impl.ConfigServiceImpl"
        parent="abstractService" />

    <bean id="seoUrlService" class="org.vosao.service.back.impl.SeoUrlServiceImpl"
        parent="abstractService" />

    <bean id="userService" class="org.vosao.service.back.impl.UserServiceImpl"
        parent="abstractService" />

    <bean id="languageService" class="org.vosao.service.back.impl.LanguageServiceImpl"
        parent="abstractService" />

    <bean id="messageService" class="org.vosao.service.back.impl.MessageServiceImpl"
        parent="abstractService" />

    <bean id="groupService" class="org.vosao.service.back.impl.GroupServiceImpl"
        parent="abstractService" />

    <bean id="contentPermissionService" class="org.vosao.service.back.impl.ContentPermissionServiceImpl"
        parent="abstractService" />

    <bean id="backService" class="org.vosao.service.impl.BackServiceImpl"
        init-method="init">  
        <property name="fileService" ref="fileService"/>  
        <property name="folderService" ref="folderService"/>  
        <property name="commentService" ref="commentService"/>  
        <property name="pageService" ref="pageService"/>  
        <property name="templateService" ref="templateService"/>  
        <property name="formService" ref="formService"/>  
        <property name="fieldService" ref="fieldService"/>  
        <property name="configService" ref="configService"/>  
        <property name="seoUrlService" ref="seoUrlService"/>  
        <property name="userService" ref="userService"/>  
        <property name="languageService" ref="languageService"/>  
        <property name="messageService" ref="messageService"/>  
        <property name="groupService" ref="groupService"/>  
        <property name="contentPermissionService" ref="contentPermissionService"/>  
    </bean>

    <!--================== JSON-RPC front services ==========================-->

    <bean id="loginFrontService" class="org.vosao.service.front.impl.LoginServiceImpl"
        parent="abstractService" />

    <bean id="formFrontService" class="org.vosao.service.front.impl.FormServiceImpl"
        parent="abstractService" />  

    <bean id="commentFrontService" class="org.vosao.service.front.impl.CommentServiceImpl"
        parent="abstractService" />  

    <bean id="frontService" class="org.vosao.service.impl.FrontServiceImpl"
        init-method="init">  
        <property name="loginService" ref="loginFrontService"/>  
        <property name="formService" ref="formFrontService"/>  
        <property name="commentService" ref="commentFrontService"/>  
    </bean>

</beans>
