<?xml version="1.0"?>
<rss version="2.0">
   <channel>
      <title>${rssatomConfig.title}</title>
      <link>http://${config.siteDomain}</link>
      <description>${rssatomConfig.title}</description>
      <language>en-us</language>
      <pubDate>${date.format("EEE, dd MMM yyyy HH:mm:ss Z", $date)}</pubDate>
      <lastBuildDate>${date.format("EEE, dd MMM yyyy HH:mm:ss Z", $date)}</lastBuildDate>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
      <generator>Vosao CMS</generator>
      <managingEditor>${config.siteEmail}</managingEditor>
      <webMaster>${config.siteEmail}</webMaster>
#foreach ($page in $pages)
      <item>
         <title>${page.title}</title>
         <link>http://${config.siteDomain}${page.friendlyURL}</link>
         <description>${rss.getDescription($page)}</description>
         <pubDate>${date.format("EEE, dd MMM yyyy HH:mm:ss Z", $page.publishDate)}</pubDate>
         <guid>http://${config.siteDomain}${page.friendlyURL}</guid>
      </item>
#end      
   </channel>
</rss>