<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <!--======================== Persistence ================================-->

    <bean id="persistenceManagerFactory"  
        class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">  
        <property name="jdoProperties">
            <props>
                <prop key="javax.jdo.PersistenceManagerFactoryClass">org.datanucleus.store.appengine.jdo.DatastoreJDOPersistenceManagerFactory</prop>
                <prop key="javax.jdo.option.ConnectionURL">appengine</prop>
                <prop key="javax.jdo.option.NontransactionalRead">true</prop>
                <prop key="javax.jdo.option.NontransactionalWrite">true</prop>
                <prop key="javax.jdo.option.RetainValues">true</prop>
                <prop key="datanucleus.appengine.autoCreateDatastoreTxns">true</prop>
            </props>
        </property>
    </bean>  
    
    <!--============================== DAO ==================================-->
    
    <bean id="abstractDao" abstract="true"
        class="org.vosao.dao.impl.AbstractDaoImpl">
        <property name="persistenceManagerFactory" ref="persistenceManagerFactory"/>  
    </bean>
    
    <bean id="pageDao" class="org.vosao.dao.impl.PageDaoImpl"
        parent="abstractDao" />  
    
    <bean id="fileDao" class="org.vosao.dao.impl.FileDaoImpl"
        parent="abstractDao" />  
    
    <bean id="folderDao" class="org.vosao.dao.impl.FolderDaoImpl"
        parent="abstractDao" />  

    <bean id="userDao" class="org.vosao.dao.impl.UserDaoImpl"
        parent="abstractDao" />  

    <bean id="templateDao" class="org.vosao.dao.impl.TemplateDaoImpl"
        parent="abstractDao" />  

    <bean id="configDao" class="org.vosao.dao.impl.ConfigDaoImpl"
        parent="abstractDao" />  

    <bean id="formDao" class="org.vosao.dao.impl.FormDaoImpl"
        parent="abstractDao" />  

    <bean id="commentDao" class="org.vosao.dao.impl.CommentDaoImpl"
        parent="abstractDao" />  

    <bean id="dao" class="org.vosao.dao.impl.DaoImpl">  
        <property name="pageDao" ref="pageDao"/>  
        <property name="fileDao" ref="fileDao"/>  
        <property name="folderDao" ref="folderDao"/>  
        <property name="userDao" ref="userDao"/>  
        <property name="templateDao" ref="templateDao"/>  
        <property name="configDao" ref="configDao"/>  
        <property name="formDao" ref="formDao"/>  
        <property name="commentDao" ref="commentDao"/>  
    </bean>

    <!--=========================== Business ================================-->

    <bean id="abstractBusiness" abstract="true"
        class="org.vosao.business.impl.AbstractBusinessImpl">
        <property name="dao" ref="dao"/>  
    </bean>
    
    <bean id="folderBusiness" class="org.vosao.business.impl.FolderBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="templateBusiness" class="org.vosao.business.impl.TemplateBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="configBusiness" class="org.vosao.business.impl.ConfigBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="formBusiness" class="org.vosao.business.impl.FormBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="fileBusiness" class="org.vosao.business.impl.FileBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="pageBusiness" class="org.vosao.business.impl.PageBusinessImpl"
        init-method="init" parent="abstractBusiness">
        <property name="configBusiness" ref="configBusiness"/>  
    </bean>      

    <bean id="importExportBusiness" class="org.vosao.business.impl.ImportExportBusinessImpl"
        parent="abstractBusiness">  
        <property name="folderBusiness" ref="folderBusiness"/>  
        <property name="pageBusiness" ref="pageBusiness"/>  
        <property name="configBusiness" ref="configBusiness"/>  
    </bean>    

    <bean id="business" class="org.vosao.business.impl.BusinessImpl"
        init-method="init">  
        <property name="pageBusiness" ref="pageBusiness"/>  
        <property name="folderBusiness" ref="folderBusiness"/>  
        <property name="templateBusiness" ref="templateBusiness"/>  
        <property name="importExportBusiness" ref="importExportBusiness"/>  
        <property name="configBusiness" ref="configBusiness"/>  
        <property name="formBusiness" ref="formBusiness"/>  
        <property name="fileBusiness" ref="fileBusiness"/>  
    </bean>

    <!--======================= JSON-RPC services ===========================-->

    <bean id="abstractService" abstract="true"
        class="org.vosao.service.impl.AbstractServiceImpl">
        <property name="dao" ref="dao"/>  
        <property name="business" ref="business"/>  
    </bean>

    <bean id="formService" class="org.vosao.service.impl.FormServiceImpl"
        parent="abstractService" />  

    <bean id="fileService" class="org.vosao.service.impl.FileServiceImpl"
        parent="abstractService" />  

    <bean id="folderService" class="org.vosao.service.impl.FolderServiceImpl"
        parent="abstractService" />
          
    <bean id="commentService" class="org.vosao.service.impl.CommentServiceImpl"
        parent="abstractService" />

    <bean id="service" class="org.vosao.service.impl.ServiceImpl"
        init-method="init">  
        <property name="formService" ref="formService"/>  
        <property name="fileService" ref="fileService"/>  
        <property name="folderService" ref="folderService"/>  
        <property name="commentService" ref="commentService"/>  
    </bean>

    <!--========================= JSF beans =================================-->

    <bean id="abstractJSFBean" abstract="true"
        class="org.vosao.jsf.AbstractJSFBean">
        <property name="dao" ref="dao"/>  
        <property name="business" ref="business"/>  
    </bean>

    <bean id="pageBean" class="org.vosao.jsf.PageBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="folderBean" class="org.vosao.jsf.FolderBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="templateBean" class="org.vosao.jsf.TemplateBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="configBean" class="org.vosao.jsf.ConfigBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="loginBean" class="org.vosao.jsf.LoginBean" 
        scope="request"
        parent="abstractJSFBean" />

    <bean id="formBean" class="org.vosao.jsf.FormBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="fileBean" class="org.vosao.jsf.FileBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="profileBean" class="org.vosao.jsf.ProfileBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

</beans>
