* {
	margin: 0;
	padding: 0;
    font-family: arial, sans-serif;
}

h1, h2 {
	margin: 20px 0;
}

a, a:visited {
	color: blue;
}
a:hover {
    color: #148fd5;
}


#topbar {
	border-bottom: 1px solid #a5c4d5;
	padding: 4px;
}
#leftmenu {
	float: left;
}
#rightmenu {
    float: right;
}
#topbar #leftmenu a, #topbar #rightmenu a {
	padding: 2px 4px;
	margin-left: 2px;
}

.clear {
    clear: both;
}

#wrapper {
	margin: 20px;
}

.messages .error-msg {
	color: red;
	list-style-type: none;
}
.messages .info-msg {
    color: green;
    list-style-type: none;
}

/* home page */
#main-panel {
	width: 600px;
	margin: 0 auto;
}
#main-panel div {
	margin: 10px;
    padding: 10px;
}
#main-panel a {
    font-size: 20px;
    position: relative;
    top: -25px;
    left: 10px;
}
#main-panel div:hover {
    background-color: #eef;
}

/* forms */
label {
    width: 150px;
    height: 20px;
    float: left;
}
.form-row {
	padding: 2px 0;
}
.form-table {
	min-width: 200px; 
}
.form-table td {
	padding: 2px 4px;
}	

.buttons {
	margin: 20px 0;
}
.buttons-dlg {
    margin: 20px 0;
    text-align: center;
}

/* file browser */
.browser-folders {
	float: left;
	width: 300px;
	border-right: 1px solid #a5c4d5;
	margin-right: 10px;
}
.browser-files {
	margin-left: 310px;
	overflow: auto;
	position: fixed;
	top: 0;
	bottom: 0;
}
.browser-files li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
}
.file-border {
	width: 160px;
	text-align: center;
	background-color: #eee;
	margin: 5px;
    border: 1px solid #a5c4d5;
    font-size: 11px;
    overflow: hidden;
    cursor: pointer;
}
.file-border:hover {
	border: 1px solid orange;
}
.file-thumbnail {
    background-color: silver;
    width: 160px;
    height: 120px;
}