<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <!-- Persistence -->

    <bean id="persistenceManagerFactory"  
        class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">  
        <property name="jdoProperties">
            <props>
                <prop key="javax.jdo.PersistenceManagerFactoryClass">org.datanucleus.store.appengine.jdo.DatastoreJDOPersistenceManagerFactory</prop>
                <prop key="javax.jdo.option.ConnectionURL">appengine</prop>
                <prop key="javax.jdo.option.NontransactionalRead">true</prop>
                <prop key="javax.jdo.option.NontransactionalWrite">true</prop>
                <prop key="javax.jdo.option.RetainValues">true</prop>
                <prop key="datanucleus.appengine.autoCreateDatastoreTxns">true</prop>
            </props>
        </property>
    </bean>  
    
    <!-- DAO -->
    
    <bean id="abstractDao" abstract="true"
        class="org.vosao.dao.impl.AbstractDaoImpl">
        <property name="persistenceManagerFactory" ref="persistenceManagerFactory"/>  
    </bean>
    
    <bean id="pageDao" class="org.vosao.dao.impl.PageDaoImpl"
        parent="abstractDao" />  
    
    <bean id="fileDao" class="org.vosao.dao.impl.FileDaoImpl"
        parent="abstractDao" />  
    
    <bean id="folderDao" class="org.vosao.dao.impl.FolderDaoImpl"
        parent="abstractDao" />  

    <bean id="userDao" class="org.vosao.dao.impl.UserDaoImpl"
        parent="abstractDao" />  

    <bean id="templateDao" class="org.vosao.dao.impl.TemplateDaoImpl"
        parent="abstractDao" />  

    <bean id="dao" class="org.vosao.dao.impl.DaoImpl">  
        <property name="pageDao" ref="pageDao"/>  
        <property name="fileDao" ref="fileDao"/>  
        <property name="folderDao" ref="folderDao"/>  
        <property name="userDao" ref="userDao"/>  
        <property name="templateDao" ref="templateDao"/>  
    </bean>

    <!-- Business -->

    <bean id="abstractBusiness" abstract="true"
        class="org.vosao.business.impl.AbstractBusinessImpl">
        <property name="dao" ref="dao"/>  
    </bean>
    
    <bean id="pageBusiness" class="org.vosao.business.impl.PageBusinessImpl"
        parent="abstractBusiness" />  

    <bean id="business" class="org.vosao.business.impl.BusinessImpl">  
        <property name="pageBusiness" ref="pageBusiness"/>  
    </bean>

    <!-- JSF beans -->

    <bean id="abstractJSFBean" abstract="true"
        class="org.vosao.jsf.AbstractJSFBean">
        <property name="dao" ref="dao"/>  
        <property name="business" ref="business"/>  
    </bean>

    <bean id="testBean" class="org.vosao.jsf.TestBean" 
        init-method="init" scope="request" 
        parent="abstractJSFBean" />
    
    <bean id="pageBean" class="org.vosao.jsf.PageBean" 
        init-method="init" scope="request"
        parent="abstractJSFBean" />

    <bean id="loginBean" class="org.vosao.jsf.LoginBean" 
        scope="request"
        parent="abstractJSFBean" />

</beans>
