a.album {
	float: left;
	width: 72px;
	height: 92px;
	display: block;
	cursor: pointer;
	margin: 10px;
	color: #444;
	padding: 4px 4px 0 4px;
}
a.album:hover {
	background-color: #e7f0f4;
	color: #E17009;
}
	
.album p {
	font-weight: bold;
	text-align: center;
}

.album img {
	margin: 4px 4px 0 4px;
}

.picasa-hr {
	height: 1px;
	background-color: #8f8f8f;
	border: 0;
}

a.photo {
    float: left;
    width: 160px;
    height: 180px;
    display: block;
    cursor: pointer;
    margin: 10px;
    color: #444;
}
a.photo:hover {
    color: #E17009;
}
    
a.photo p {
 	text-align: center;
}

a.photo img {
    margin: auto auto;
    display: block;
}

.album-name {
	margin-top: 10px;
	font-weight: bold;
}