#versions {
	float:right;
	width:125px;
	min-width:0;
	margin-top:35px;
	margin-right:20px;
}

#auditData {
	margin-top: 20px;
	font-size: 0.8em;
}

#pageState, #pageCreateUser, #pageCreateDate, #pageModUser, #pageModDate {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
